name: Deploy docs
on:
  push:
    branches:
      - master
    paths:
      - 'docs/**'
env:
  CI: true
  PNPM_CACHE_FOLDER: .pnpm-store
jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout code repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install pnpm
        run: npm i pnpm@latest -g
      - name: Setup pnpm config
        run: pnpm config set store-dir $PNPM_CACHE_FOLDER
      - name: Install dependencies
        run: pnpm install
      - run: pnpm docs:build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist-docs
