name: Release Package
on:
  push:
    branches:
      - master
    paths:
      - '.changeset/**'
      - '.github/workflows/release.yml'
    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  id-token: write
  pull-requests: write
env:
  CI: true
  PNPM_CACHE_FOLDER: .pnpm-store
jobs:
  release:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.0
          registry-url: 'https://registry.npmjs.org'
      - name: Install pnpm
        run: npm i pnpm@latest -g
      - name: Setup pnpm config
        run: pnpm config set store-dir $PNPM_CACHE_FOLDER
      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile
      - name: Create and publish versions
        uses: changesets/action@v1
        with:
          version: pnpm ci:version
          commit: "chore: update versions"
          title: "chore: update versions"
          publish: pnpm ci:publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
